Source: zarafa
Section: mail
Priority: optional
Maintainer: Zarafa Development Team <development@zarafa.com>
Build-Depends: debhelper (>= 4.0.0),
 binutils (>= 2.12.90.0.9),
 autotools-dev,
 automake (>= 1:1.9) | automake1.9,
 autoconf (>= 2.59),
 libtool (>= 1.5),
 pkg-config (>= 0.18),
 libssl-dev,
 uuid-dev,
 php5-dev,
 libmysqlclient-dev,
 libcurl4-openssl-dev,
 gettext,
 libldap2-dev,
 flex,
 bison,
 m4,
 zlib1g-dev,
 libncurses5-dev,
 libncursesw5-dev,
 libxml2-dev,
 libpam0g-dev,
 libkrb5-dev,
 libboost-date-time-dev,
 libboost-filesystem-dev,
 libboost-thread-dev,
 libgoogle-perftools-dev,
 python-dev,
 libicu-dev,
 libical-dev,
 libgsoap-dev,
 gsoap,
 swig,
Standards-Version: 3.7.3

Package: zarafa
Architecture: all
Depends: zarafa-server (= ${binary:Version}),
 zarafa-client (>= ${source:Version}), 
 zarafa-client (<< ${source:Version}.1~),
 zarafa-libmapi (>= ${source:Version}),
 zarafa-libmapi (<< ${source:Version}.1~),
 zarafa-utils,
 zarafa-monitor,
 zarafa-spooler,
 zarafa-dagent,
 zarafa-ical,
 zarafa-gateway,
 zarafa-search-plus,
Description: The Zarafa Collaboration Platform (metapackage depending on the latest version)
 This groupware solution combines the usability of 
 Outlook with the stability and flexibility of a Linux server.
 .
 It features a rich web-interface, the Zarafa WebAccess, and provides 
 brilliant integration options with all sorts of clients including 
 all most popular mobile platforms. 

Package: zarafa-common
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: lsb-base
Description: Shared files between ZCP services.
 Common components for services of the Zarafa Collaboration Platform.

Package: zarafa-server
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 dbconfig-common,
 zarafa-common (= ${binary:Version}),
 mariadb-client | mysql-client | virtual-mysql-client,
 ${misc:Depends},
Suggests: mariadb-server | mysql-server
Description: Server component for the Zarafa Collaboration Platform
 The key component of the ZCP, providing the server to which ZCP
 clients connect. The server requires a MySQL server to use for
 storage.

Package: zarafa-dbg
Priority: extra
Architecture: any
Section: debug
Description: Debug files for the Zarafa Collaboration Platform
 This package contains the debug symbols for the Zarafa
 Collaboration Platform

Package: zarafa-dev
Priority: extra
Architecture: any
Depends: zarafa-client (= ${binary:Version}),
 zarafa-libarchiver (= ${binary:Version}),
 zarafa-libmapi (= ${binary:Version})
Description: C++ Development files for the Zarafa Collaboration Platform
 Development files to create MAPI programs under Linux for use with
 Zarafa. You can find examples and documentation on the website
 http://developer.zarafa.com/

Package: zarafa-client
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-libmapi,
 zarafa-lang
Description: The main libraries for any Zarafa client program. This package is required by all Zarafa client programs.

Package: zarafa-lang
Architecture: any
Conflicts: zarafa (<< 7.2),
 zarafa-client (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: locales
Description: Translations for Zarafa components

Package: zarafa-contacts
Architecture: any
Depends: ${shlibs:Depends},
 locales,
 zarafa-client (= ${binary:Version})
Description: MAPI provider adding contact folders in the addressbook
 Additional MAPI provider which finds all contact folders of a user
 and adds the contents transparently into the MAPI addrbook.

Package: zarafa-libmapi
Architecture: any
Conflicts: zarafa (<< 7.2),
 zarafa-client (<< 7.2)
Replaces: zarafa (<< 7.2),
 zarafa-libs
Depends: ${shlibs:Depends},
Description: Zarafa MAPI libraries

Package: zarafa-libarchiver
Architecture: any
Depends: ${shlibs:Depends},
 zarafa-client (= ${binary:Version}),
 zarafa-common (= ${binary:Version})
Description: Library with shared ZCP archiver functionality
 Library with shared archiver functionality for the Zarafa Collaboration Platform.

Package: zarafa-utils
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-client (= ${binary:Version}),
 zarafa-libarchiver (= ${binary:Version})
Description: Admin command-line utils for the Zarafa Collaboration Platform
 Commandline clients to control and check the ZCP server.

Package: zarafa-monitor
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version})
Description: Quota Monitor for the Zarafa Collaboration Platform
 Regularly checks stores for total usage. If a quota limit has been
 exceeded, an e-mail will be internally sent to this account.

Package: zarafa-spooler
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 zarafa-libmapi (= ${binary:Version}),
 python-mapi (= ${binary:Version})
Description: E-mail Spooler for the Zarafa Collaboration Platform
 Sends all outgoing e-mail requests from Zarafa to an SMTP server.

Package: zarafa-dagent
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 zarafa-libmapi (= ${binary:Version}),
 php5-mapi (= ${binary:Version}),
 php5-cli,
 python-mapi (= ${binary:Version})
Description: E-Mail Delivery Agent for the Zarafa Collaboration Platform
 Delivers incoming e-mail from your SMTP server to stores in the
 Zarafa server.

Package: zarafa-gateway
Architecture: any
Suggests: python-mapi
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 zarafa-libmapi (= ${binary:Version})
Description: POP3 and IMAP Gateway for the Zarafa Collaboration Platform
 Provides access to the Zarafa server through the POP3 and IMAP
 protocols.

Package: zarafa-ical
Architecture: any
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 zarafa-common (= ${binary:Version}),
 zarafa-client (= ${binary:Version}),
 zarafa-libmapi (= ${binary:Version})
Description: ICal and CalDAV Gateway for the Zarafa Collaboration Platform
 Provides access to the Zarafa server through the ICal and CalDAV
 protocols.

Package: python-mapi
Architecture: any
Section: python
Conflicts: zarafa-python
Replaces: zarafa-python
Provides: zarafa-python
Depends: ${shlibs:Depends},
 zarafa-client (= ${binary:Version}),
 zarafa-libmapi (= ${binary:Version})
Description: Python MAPI bindings
 Using this module, you can create python programs which use MAPI
 calls to interact with Zarafa.

Package: python-zarafa
Architecture: all
Section: python
Depends: ${shlibs:Depends},
 python-mapi
Description: Zarafa Python bindings
 High-level Python bindings for Zarafa

Package: php5-mapi
Architecture: any
Section: php
Conflicts: zarafa (<< 7.2)
Replaces: zarafa (<< 7.2)
Depends: ${shlibs:Depends},
 ${php:Depends},
 zarafa-client (= ${binary:Version}),
 zarafa-libmapi (= ${binary:Version})
Description: PHP MAPI bindings
 Using this module, you can create PHP programs which use MAPI
 calls to interact with Zarafa.

Package: zarafa-webaccess
Architecture: all
Section: web
Depends: php5-mapi
Description: a web interface for the zarafa collaboration platform
 provides a web-client written in php that makes use of ajax to allow
 users to make full use of the zarafa collaboration platform through a
 modern web browser.

Package: zarafa-webaccess-muc
Architecture: all
Section: web
Depends: php5-mapi,
 zarafa-webaccess
Description: The multi-user calendar component for the Zarafa WebAccess.
 In this calendar multiple users can be show side-by-side to get an
 overview of all meetings for easy planning.

Package: zarafa-search-plus
Architecture: any
Conflicts: zarafa-indexer,
 zarafa-search
Replaces: zarafa-indexer,
 zarafa-search
Depends: ${shlibs:Depends},
 python-zarafa,
 python-xapian,
 lsb-base,
 coreutils (>= 5.93),
 mktemp (>= 1.5),
 bash (>= 3.0),
 gawk,
 w3m,
 xsltproc,
 poppler-utils,
 unzip,
 file,
 catdoc
Description: zarafa indexer using the xapian search engine

Package: zarafa-archiver
Architecture: any
Depends: ${shlibs:Depends},
 zarafa-libarchiver (= ${binary:Version})
Description: Archive messages to a secondary Zarafa server
 To decrease the database size of your production Zarafa server, the
 Zarafa Archiver copies or moves messages to a secondary Zarafa
 server. Clients will still be able to open the message from the
 secondary Zarafa server directly.

