Source: giraffe
Section: mail
Priority: optional
Maintainer: Giraffe Maintainers <pkg-giraffe-maintainers@lists.alioth.debian.org>
Uploaders: John van der Kamp <j.vdkamp@zarafa.com>
Build-Depends: debhelper (>= 4.0.0), binutils (>= 2.12.90.0.9), devscripts, autotools-dev, automake (>= 1:1.9) | automake1.9, autoconf (>= 2.59), libtool (>= 1.5), pkg-config (>= 0.18), libssl-dev, libvmime-dev (>= 0.9.1), uuid-dev, php4-dev | php5-dev, libmysqlclient15-dev | libmysqlclient-dev, libcurl3-dev, gettext, libldap2-dev, flex, bison, zlib1g-dev, libncurses5-dev, libxml2-dev, libpam0g-dev, libkrb5-dev, libboost-date-time1.35-dev | libboost-date-time1.46-dev | libboost-date-time-dev, libboost-filesystem1.35-dev | libboost-filesystem1.46-dev | libboost-filesystem-dev, libboost-thread1.35-dev | libboost-thread1.46-dev | libboost-thread-dev, python-dev, libicu-dev, python-support, libclucene-dev, libical-dev, libgoogle-perftools-dev, libkyotocabinet-dev
Standards-Version: 3.7.3

Package: giraffe
Architecture: all
Depends: ${misc:Depends}, giraffe-server (>= ${binary:Version}), giraffe-server (<< ${binary:Version}.1~), giraffe-client (>= ${binary:Version}), giraffe-client (<< ${binary:Version}.1~), giraffe-libs (>= ${binary:Version}), giraffe-libs (<< ${binary:Version}.1~), giraffe-utils, giraffe-monitor, giraffe-spooler, giraffe-dagent, giraffe-ical, giraffe-gateway, giraffe-search
Recommends: giraffe-webaccess
Description: The Giraffe Collaboration Platform (metapackage depending on the latest version)
 This groupware solution combines the usability of 
 Outlook with the stability and flexibility of a Linux server.
 .
 It features a rich web-interface, the Giraffe WebAccess, and provides 
 brilliant integration options with all sorts of clients including 
 all most popular mobile platforms. 

Package: giraffe-common
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: lsb-base, ${misc:Depends}
Description: Shared files between GCP services.
 Common components for services of the Giraffe Collaboration Platform.

Package: giraffe-server
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, giraffe-common (= ${binary:Version})
Description: Server component for the Giraffe Collaboration Platform
 The key component of the GCP, providing the server to which GCP
 clients connect. The server requires a MySQL server to use for
 storage.

Package: giraffe-dbg
Priority: extra
Architecture: any
Section: debug
Depends: ${misc:Depends}
Description: Debug files for the Giraffe Collaboration Platform
 This package contains the debug symbols for the Giraffe
 Collaboration Platform

Package: giraffe-dev
Priority: extra
Architecture: any
Depends: ${misc:Depends}, giraffe-client (= ${binary:Version}), giraffe-libarchiver (= ${binary:Version}), giraffe-libs (= ${binary:Version})
Description: C++ Development files for the Giraffe Collaboration Platform
 Development files to create MAPI programs under Linux for use with
 Giraffe. You can find examples and documentation on the website
 http://developer.zarafa.com/

Package: giraffe-client
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, locales
Description: MAPI4Linux and the Giraffe MAPI provider libraries
 The main libraries for any Giraffe client program. This package is
 required by all Giraffe client programs.

Package: giraffe-contacts
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, locales, giraffe-client (= ${binary:Version})
Description: MAPI provider adding contact folders in the addressbook
 Additional MAPI provider which finds all contact folders of a user
 and adds the contents transparently into the MAPI addrbook.

Package: giraffe-libs
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, libvmime0 (>= 0.9.1), libvmime0 (<< 1.0), libical0 (>= 0.44)
Description: Conversion libraries between Open Standards and MAPI
 Commonly used libraries by Giraffe Collaboration Platform client
 programs.

Package: giraffe-libarchiver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, giraffe-client (= ${binary:Version}), giraffe-common (= ${binary:Version})
Description: Library with shared GCP archiver functionality
 Library with shared archiver functionality for the Giraffe Collaboration Platform.

Package: giraffe-utils
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, giraffe-client (= ${binary:Version}), giraffe-libarchiver (= ${binary:Version})
Description: Admin command-line utils for the Giraffe Collaboration Platform
 Commandline clients to control and check the GCP server.

Package: giraffe-monitor
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, giraffe-common (= ${binary:Version}), giraffe-client (= ${binary:Version})
Description: Quota Monitor for the Giraffe Collaboration Platform
 Regularly checks stores for total usage. If a quota limit has been
 exceeded, an e-mail will be internally sent to this account.

Package: giraffe-spooler
Architecture: any
Conflicts: giraffe (<< 7.0)
Replaces: giraffe (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, giraffe-common (= ${binary:Version}), giraffe-client (= ${binary:Version}), giraffe-libs (= ${binary:Version}), giraffe-libarchiver
Description: E-mail Spooler for the Giraffe Collaboration Platform
 Sends all outgoing e-mail requests from Giraffe to an SMTP server.

Package: zarafa-dagent
Architecture: any
Conflicts: zarafa (<< 7.0)
Replaces: zarafa (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, zarafa-common (= ${binary:Version}), zarafa-client (= ${binary:Version}), zarafa-libs (= ${binary:Version}), php5-cli, php5-mapi, python-mapi (= ${binary:Version})
Description: E-Mail Delivery Agent for the Zarafa Collaboration Platform
 Delivers incoming e-mail from your SMTP server to stores in the
 Zarafa server.

Package: zarafa-gateway
Architecture: any
Suggests: python-mapi
Conflicts: zarafa (<< 7.0)
Replaces: zarafa (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, zarafa-common (= ${binary:Version}), zarafa-client (= ${binary:Version}), zarafa-libs (= ${binary:Version})
Description: POP3 and IMAP Gateway for the Zarafa Collaboration Platform
 Provides access to the Zarafa server through the POP3 and IMAP
 protocols.

Package: zarafa-ical
Architecture: any
Conflicts: zarafa (<< 7.0)
Replaces: zarafa (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, zarafa-common (= ${binary:Version}), zarafa-client (= ${binary:Version}), zarafa-libs (= ${binary:Version})
Description: ICal and CalDAV Gateway for the Zarafa Collaboration Platform
 Provides access to the Zarafa server through the ICal and CalDAV
 protocols.

Package: python-mapi
Architecture: any
Section: python
Conflicts: zarafa-python
Replaces: zarafa-python
Provides: zarafa-python
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, zarafa-client (= ${binary:Version}), zarafa-libs (= ${binary:Version})
Description: Python MAPI bindings
 Using this module, you can create python programs which use MAPI
 calls to interact with Zarafa.

Package: php5-mapi
Architecture: any
Section: php
Conflicts: zarafa (<< 7.0)
Replaces: zarafa (<< 7.0)
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}, zarafa-client (= ${binary:Version}), zarafa-libs (= ${binary:Version}), apache2 | apache-ssl | apache-perl | apache | httpd, libapache2-mod-php5 | libapache-mod-php5 | php5-cgi
Description: PHP MAPI bindings
 Using this module, you can create PHP programs which use MAPI
 calls to interact with Zarafa.

Package: zarafa-archiver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, zarafa-libarchiver (= ${binary:Version})
Description: Archive messages to a secondary Zarafa server
 To decrease the database size of your production Zarafa server, the
 Zarafa Archiver copies or moves messages to a secondary Zarafa
 server. Clients will still be able to open the message from the
 secondary Zarafa server directly.

Package: zarafa-webaccess
Architecture: all
Section: web
Depends:  ${misc:Depends}, php5-mapi
Description: A web interface for the Zarafa Collaboration Platform
 Provides a web-client written in PHP that makes use of AJAX to allow
 users to make full use of the Zarafa Collaboration Platform through a
 modern web browser.

Package: zarafa-search
Architecture: any
Section: mail
Depends: ${shlibs:Depends}, ${misc:Depends}, libkyotocabinet16, zarafa-client (= ${binary:Version}), zarafa-libarchiver (= ${binary:Version}), zarafa-common (= ${binary:Version})
Conflicts: zarafa-indexer
Replaces: zarafa-indexer
Description: Indexed search engine for the Zarafa Collaboration Platform
 Based on the CLucene search engine, the zarafa-search makes an index
 per user of messages and attachments. When this service is enabled,
 search queries on the server will use this index to quickly find
 messages and even in contents of attached documents.

